.main{
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 80px auto;
}
.upper{
    margin-bottom: 50px;
}
.upper h2{
    text-align: center;
    font-style: bold;
    font-size: 20px;
    line-height: 29px;
    color: blue;
}
.accordion{
    width: 700px;
}
.item{
    background-color: #fff;
    margin-bottom: 5px;
    padding: 10px 20px;
    border-bottom: 1px solid #8F8F8F;
}
.title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}
.title h2{
    font-style: normal;
    font-size: 20px;
    line-height: 29px;
    color: #4F4F4F;
}
.title h1{
    font-style: normal;
    font-size: 25px;
    line-height: 29px;
    color: #8F8F8F;
}
.content{
    max-height: 0;
    overflow: hidden;
    transition: all 0.5s cubic-bezier(0,1,0,1);
    color: #8F8F8F;
    width: 500px;
    text-align: left;
}
.content.show{
    max-height: 9999px;
    height: auto;
    transition: all 0.5s cubic-bezier(0,1,0,1);
    color: #8F8F8F;
    text-align: left;
}

@media screen and (max-width: 750px){
    .accordion{
        width: 500px;
    }

    .title h2{
        font-size: 16px;
    }

    .title h1{
        font-size: 16px;
    }

    .content{
        width: 300px;
        font-size: 14px;
    }

    .content.show{
        width: 300px;
        font-size: 14px;
    }

    .upper h2{
        font-size: 16;
    }
}

@media screen and (max-width: 550px){
    .accordion{
        width: 450px;
    }

    .title h2{
        font-size: 14px;
    }

    .title h1{
        font-size: 16px;
    }

    .content{
        width: 250px;
        font-size: 12px;
    }

    .content.show{
        width: 250px;
        font-size: 12px;
    }

    .upper h2{
        font-size: 12;
    }

    .upper{
    margin-bottom: 30px;
}
}

@media screen and (max-width: 425px){
    .accordion{
        width: 370px;
    }

    .title h2{
        font-size: 12px;
    }

    .title h1{
        font-size: 14px;
    }

    .content{
        width: 250px;
        font-size: 12px;
    }

    .content.show{
        width: 250px;
        font-size: 12px;
    }

    .upper h2{
        font-size: 12;
    }
}